repos:
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
        additional_dependencies: [toml]
  - repo: https://github.com/psf/black
    rev: 22.6.0
    hooks:
      - id: black
        args: ["--line-length", "119", "--check"]
      - id: black
        args: ["--line-length", "119"]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-yaml
        exclude: test.*
        args: ["--multi"]
      - id: debug-statements
      - id: end-of-file-fixer
        exclude: "^tests/fixtures/"
      - id: fix-byte-order-marker
      - id: fix-encoding-pragma
        args: ["--remove"]
      - id: requirements-txt-fixer
        exclude: "^tests/fixtures/"
  - repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
        exclude: (_vendor|test).*
  - repo: https://github.com/pycqa/pydocstyle
    rev: 6.1.1
    hooks:
      - id: pydocstyle
        exclude: (_vendor|test).*
        additional_dependencies: [toml]
  - repo: https://github.com/terrencepreilly/darglint
    rev: v1.8.1
    hooks:
      - id: darglint
        exclude: (_vendor|test).*
        args:
          - -v 2
          - "--message-template={path}:{line} in `{obj}`:\n        {msg_id}: {msg}"
          - --strictness=short
  - repo: https://github.com/econchick/interrogate
    rev: 1.5.0  # or master if you're bold
    hooks:
      - id: interrogate
        exclude: (_vendor|test).*
  - repo: local
    hooks:
      - id: check-dependencies
        name: check-dependencies
        language: python
        entry: make -C requirements all
        files: ^requirements.*?\.(in|txt)$
        pass_filenames: false
        additional_dependencies:
          - pip-tools
