.changelog-config.yaml coreyoordt@gmail.com
.editorconfig coreyoordt@gmail.com
.github/ISSUE_TEMPLATE.md coreyoordt@gmail.com
.github/changelog_templates/commit.md.jinja coreyoordt@gmail.com
.github/changelog_templates/version_heading.md.jinja coreyoordt@gmail.com
.github/workflows/codeql-analysis.yml coreyoordt@gmail.com
.github/workflows/publish-docs.yaml coreyoordt@gmail.com
.github/workflows/publish-package.yaml coreyoordt@gmail.com
.github/workflows/test.yaml coreyoordt@gmail.com
.gitignore coreyoordt@gmail.com
.pre-commit-config.yaml coreyoordt@gmail.com
CHANGELOG.md coreyoordt@gmail.com
CODEOWNERS coreyoordt@gmail.com
CODE_OF_CONDUCT.md coreyoordt@gmail.com
CONTRIBUTING.md coreyoordt@gmail.com
LICENSE coreyoordt@gmail.com
MANIFEST.in coreyoordt@gmail.com
Makefile coreyoordt@gmail.com
README.md coreyoordt@gmail.com
RELEASING.md coreyoordt@gmail.com
cookie_composer/__init__.py coreyoordt@gmail.com
cookie_composer/authentication.py coreyoordt@gmail.com
cookie_composer/cc_overrides.py coreyoordt@gmail.com
cookie_composer/cli.py coreyoordt@gmail.com
cookie_composer/commands/__init__.py coreyoordt@gmail.com
cookie_composer/commands/add.py coreyoordt@gmail.com
cookie_composer/commands/authn.py coreyoordt@gmail.com
cookie_composer/commands/create.py coreyoordt@gmail.com
cookie_composer/commands/link.py coreyoordt@gmail.com
cookie_composer/commands/update.py coreyoordt@gmail.com
cookie_composer/composition.py coreyoordt@gmail.com
cookie_composer/data_merge.py coreyoordt@gmail.com
cookie_composer/diff.py coreyoordt@gmail.com
cookie_composer/exceptions.py coreyoordt@gmail.com
cookie_composer/git_commands.py coreyoordt@gmail.com
cookie_composer/layers.py coreyoordt@gmail.com
cookie_composer/matching.py coreyoordt@gmail.com
cookie_composer/merge_files/__init__.py coreyoordt@gmail.com
cookie_composer/merge_files/ini_file.py coreyoordt@gmail.com
cookie_composer/merge_files/json_file.py coreyoordt@gmail.com
cookie_composer/merge_files/toml_file.py coreyoordt@gmail.com
cookie_composer/merge_files/yaml_file.py coreyoordt@gmail.com
cookie_composer/utils.py coreyoordt@gmail.com
docsrc/Makefile coreyoordt@gmail.com
docsrc/_includes/example-composition.yaml coreyoordt@gmail.com
docsrc/_includes/interactive-create.txt coreyoordt@gmail.com
docsrc/_includes/rendered-composition.yaml coreyoordt@gmail.com
docsrc/_includes/tutorial-composition-1.yaml coreyoordt@gmail.com
docsrc/_includes/tutorial-composition-2.yaml coreyoordt@gmail.com
docsrc/_includes/tutorial-composition-3.yaml coreyoordt@gmail.com
docsrc/_static/css/custom.css coreyoordt@gmail.com
docsrc/_static/img/authorize-composer.png coreyoordt@gmail.com
docsrc/_static/img/authorize-done.png coreyoordt@gmail.com
docsrc/_static/img/composer-logo.svg coreyoordt@gmail.com
docsrc/_static/img/compositions.png coreyoordt@gmail.com
docsrc/_static/img/device-activation.png coreyoordt@gmail.com
docsrc/_static/img/layers.png coreyoordt@gmail.com
docsrc/_static/img/sandwiches.png coreyoordt@gmail.com
docsrc/_templates/autosummary/base.rst coreyoordt@gmail.com
docsrc/_templates/autosummary/class.rst coreyoordt@gmail.com
docsrc/_templates/autosummary/module.rst coreyoordt@gmail.com
docsrc/api.rst coreyoordt@gmail.com
docsrc/changelog.md coreyoordt@gmail.com
docsrc/cli.rst coreyoordt@gmail.com
docsrc/conf.py coreyoordt@gmail.com
docsrc/contributing.md coreyoordt@gmail.com
docsrc/how-to/access-private-templates.md coreyoordt@gmail.com
docsrc/how-to/index.md coreyoordt@gmail.com
docsrc/index.md coreyoordt@gmail.com
docsrc/installation.md coreyoordt@gmail.com
docsrc/make.bat coreyoordt@gmail.com
docsrc/topic-guides/composition-files.md coreyoordt@gmail.com
docsrc/topic-guides/index.md coreyoordt@gmail.com
docsrc/tutorial/composable-templates.md coreyoordt@gmail.com
docsrc/tutorial/compositions.md coreyoordt@gmail.com
docsrc/tutorial/incrementally-layering.md coreyoordt@gmail.com
docsrc/tutorial/index.md coreyoordt@gmail.com
pyproject.toml coreyoordt@gmail.com
requirements.txt coreyoordt@gmail.com
requirements/dev.txt coreyoordt@gmail.com
requirements/docs.txt coreyoordt@gmail.com
requirements/prod.txt coreyoordt@gmail.com
requirements/test.txt coreyoordt@gmail.com
setup.cfg coreyoordt@gmail.com
setup.py coreyoordt@gmail.com
tests/conftest.py coreyoordt@gmail.com
tests/fixtures/existing.ini coreyoordt@gmail.com
tests/fixtures/existing.json coreyoordt@gmail.com
tests/fixtures/existing.toml coreyoordt@gmail.com
tests/fixtures/existing.yaml coreyoordt@gmail.com
tests/fixtures/gibberish.txt coreyoordt@gmail.com
tests/fixtures/local_extension_template/cookiecutter.json coreyoordt@gmail.com
tests/fixtures/local_extension_template/local_extensions/__init__.py coreyoordt@gmail.com
tests/fixtures/local_extension_template/local_extensions/main.py coreyoordt@gmail.com
tests/fixtures/local_extension_template/{{cookiecutter.project_slug}}/HISTORY.rst coreyoordt@gmail.com
tests/fixtures/multi-template.yaml coreyoordt@gmail.com
tests/fixtures/new.ini coreyoordt@gmail.com
tests/fixtures/new.json coreyoordt@gmail.com
tests/fixtures/new.toml coreyoordt@gmail.com
tests/fixtures/new.yaml coreyoordt@gmail.com
tests/fixtures/relative-multi-template.yaml coreyoordt@gmail.com
tests/fixtures/rendered1/context.json coreyoordt@gmail.com
tests/fixtures/rendered1/rendered-composition.yaml coreyoordt@gmail.com
tests/fixtures/rendered1/testproject/README.md coreyoordt@gmail.com
tests/fixtures/rendered1/testproject/dontmerge.json coreyoordt@gmail.com
tests/fixtures/rendered1/testproject/merge.yaml coreyoordt@gmail.com
tests/fixtures/rendered1/testproject/requirements.txt coreyoordt@gmail.com 66853113+pre-commit-ci[bot]@users.noreply.github.com
tests/fixtures/rendered2/context.json coreyoordt@gmail.com
tests/fixtures/rendered2/testproject/ABOUT.md coreyoordt@gmail.com
tests/fixtures/rendered2/testproject/dontmerge.json coreyoordt@gmail.com
tests/fixtures/rendered2/testproject/merge.yaml coreyoordt@gmail.com
tests/fixtures/rendered2/testproject/requirements.txt coreyoordt@gmail.com
tests/fixtures/rendered_composition.yaml coreyoordt@gmail.com
tests/fixtures/single-template.yaml coreyoordt@gmail.com
tests/fixtures/template1/cookiecutter.json coreyoordt@gmail.com
tests/fixtures/template1/{{cookiecutter.repo_name}}/README.md coreyoordt@gmail.com
tests/fixtures/template1/{{cookiecutter.repo_name}}/requirements.txt coreyoordt@gmail.com 66853113+pre-commit-ci[bot]@users.noreply.github.com
tests/fixtures/template2/cookiecutter.json coreyoordt@gmail.com
tests/fixtures/template2/{{cookiecutter.repo_name}}/ABOUT.md coreyoordt@gmail.com
tests/fixtures/template2/{{cookiecutter.repo_name}}/requirements.txt coreyoordt@gmail.com 66853113+pre-commit-ci[bot]@users.noreply.github.com
tests/test_authentication.py coreyoordt@gmail.com
tests/test_cc_overrides.py coreyoordt@gmail.com
tests/test_cli.py coreyoordt@gmail.com Brannon.Imamura@chrobinson.com
tests/test_commands/test_add.py coreyoordt@gmail.com
tests/test_commands/test_create.py coreyoordt@gmail.com
tests/test_commands/test_link.py coreyoordt@gmail.com
tests/test_commands/test_update.py coreyoordt@gmail.com
tests/test_composition.py coreyoordt@gmail.com
tests/test_git_commands.py coreyoordt@gmail.com
tests/test_layers.py coreyoordt@gmail.com
tests/test_merge_files_helpers.py coreyoordt@gmail.com
tests/test_merge_files_ini_file.py coreyoordt@gmail.com
tests/test_merge_files_json_file.py coreyoordt@gmail.com
tests/test_merge_files_toml_file.py coreyoordt@gmail.com
tests/test_merge_files_yaml_file.py coreyoordt@gmail.com
tests/test_utils.py coreyoordt@gmail.com
tools/gen-codeowners.sh coreyoordt@gmail.com
